<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stevens Forum</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <header>
            <div class="header">
                <h1 class="title">Stevens Institute of Technology Forum</h1>
                <div class="header-right">
                    {{#if user}}
                        <a href = "/profile"><img src="https://cdn.onlinewebfonts.com/svg/img_568656.png" class="profileIcon" style="width:50px;height:50px;"></a>
                    {{else}}
                        <a class="login" href="/login">Log in</a>
                    {{/if}}
                </div>
            </div>
            <div class="navbar">
                <div class="navbar-left">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/posts">Posts</a>
                    {{#if user.admin}}
                        <a href="/reports">Reports</a>
                    {{/if}}
                    <div class="search-container">
                        <form id="search" action="/posts/search" method="post">
                            <select id="searchOptions" name="searchOptions">
                                <option value="topic">topic</option>
                                <option value="tags">tags</option>
                            </select>
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit">Go</button>
                        </form>
                    </div>
                </div>
                <button class="create-post-link">
                    <a href="/createPost">Create a Post</a>
                </button>
            </div>
        </header>

        {{{body}}}

        <footer>

        </footer>

        <script src="/public/js/main.js"></script>
        <script src="https://use.fontawesome.com/fe459689b4.js"></script>
        <script src="/public/js/tab.js"></script>
        <script src="/public/js/click.js"></script>
    </body>
</html>