<main>
    <h1>Create a post</h1>
    <div class="form-container">
        <label for="topic">Topic</label>
        <input type="text" id="topic" name="topic">

        <label for="body">What is your question?</label>
        <input type="text" id="body" name="body">

        <label for="tags">Tags</label>
        <p>Please add a comma separated list of tags to help describe your post.</p>
        <p>Tags should be lower-case</p>
        <input type="text" id="tags" name="tags">

        <input type="submit" value="Submit">
    </div>
</main>