<main>
    <h1>Create a post</h1>
    {{#if error}}
        <div class="error-container">
            <p>Post needs to have a topic and a question!</p>
        </div>
    {{/if}}
    <div class="form-container">
        <form id="createPost" action="/createPost" method="post">
            <label for="topic">Topic</label>
            <input type="text" id="topic" name="topic">

            <label for="body">Body</label>
            <input type="text" id="body" name="body">

            <label for="tags">Tags (optional)</label>
            <p>tags must be comma seperated words</p>
            <p>for example: computer science, python, recursion</p>
            <input type="text" id="tags" name="tags">

            <input type="submit" value="Submit">
        </form>
    </div>
</main>