<main>
    <div>
        <h1>Welcome to the official forum for Stevens students!</h1>
        <p>
            School can be tough and who better to ask for help than your fellow peers! 
            This is the place to ask questions and find answers for any academic problems you may have.
            Not only is this a forum for Stevens students, but professors and staff are here as well to help with any questions you may have.
        </p>

        <div>
            <h2>Ready to join the forum?</h2>
            <div>
                <a href="/login">Log in</a>
            </div>
            <div>
                <a href="/register">Register</a>
            </div>
        </div>

        <div>
            <h2>Wanna post or answer questions?</h2>
            <div>
                <a href="/posts">View posts</a>
            </div>
            <div>
                <a href="/createPost">Create a post</a>
            </div>
        </div>

        <h2>Get help for academic problems but NO CHEATING!</h2>
        <p>There will be no tolerance for Stevens honor code violations.</p>
    </div>
</main>