<main>
    <div class="trending-posts">
        <ul>
        {{#each posts}}
        <li>
            <div class="post-li">
                <a href="/posts/{{id}}">{{topic}}</a>
            </div>
        </li>
        {{/each}}
    </ul>
    </div>
</main>
