<main>
    <div>
        <h1>You have logged out!</h1>
    </div>
    <div class="logout">
        <div class="logout-link">
            <div class="inner-logout-link">
                <a href="/login">Click here to login!</a>
            </div>
        </div>
        <div class="logout-link">
            <div class="inner-logout-link">
                <a href="/">Go back to the homepage!</a>
            </div>
        </div>
    </div>
</main>