<main>
    <h1>{{user.username}}</h1>

    <div class="user">
        <h2>Posts made by {{user.username}}</h2>
        
    </div>

    <div class="user">
        <h2>Posts {{user.username}} commented in</h2>

    </div>
</main>