<h1>{{post.topic}}</h1>
<p>{{post.body}}</p>


<ul>
    {{#each commentsList}}
    <p>{{body}}</p>
    {{/each}}
</ul>

<form action="reports/createReport" method="post">
<input type="hidden" name="postId" value="{{post._id}}">
<button type="submit">Submit</button>
</form>