<main>
    <h1>Register</h1>
    {{#if error}}
    <div class="error-container" id="register-error">
        <p>{{error}}</p>
    </div>
    {{/if}}
    <div class="form-container">
        <form id="register-form" action="/register" method="post">
            <label for="usernameInput">Enter username: </label>
            <input type="text" id="usernameInput" name="usernameInput">

            <label for="passwordInput">Enter password: </label>
            <input type="password" id="passwordInput" name="passwordInput">
            <div class="radio-group">
                <p>Please select:</p>
                <div class="radio">
                    <input type="radio" id="student" name="role" value="student">
                    <label for="student">I am a student</label>
                </div>
                <div class="radio">
                    <input type="radio" id="admin" name="role" value="admin">
                    <label for="admin">I am a professor or a staff member</label>
                </div>
            </div>
            

            <input type="submit" value="Register">
        </form>
        <div class="link-container">
            <a href="/login">Already have an account? Click here to log in</a>
        </div>
    </div>
</main>