<!--
    I'm assuming this page is for viewing posts that match the search
<main>
    <div class="search-create-post">
        <div class="search-container">
            <form id="search" action="/search" method="post">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="/createPost"></a>
    </div>
</main>
-->

<h1>Results for "{{word}}"</h1>
<main>
    <ul>
        {{#each posts}}
        <li><a href="/posts/{{id}}">{{topic}}</a></li>
        {{/each}}
    </ul>
</main>