html,
body {
    font-size: 14pt;
}

body {
    background: #e4d7d7;
    font-family: Arial;
}

.header {
    border-bottom: 1px solid #4b4b4b;
    overflow: hidden;
    display: block;
    background-color: #9b3232;
    padding: 0 20px;
}

.title {
    float: left;
}

header a {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
}

header a:hover {
    background-color: #f84f4f;
}

.navbar {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #4b4b4b;
    background-color: #332f2f;
}

.navbar a {
    float: left;
    margin-top: 0px;
    color: white;
}

.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid rgb(87, 86, 86);
    width: 300px;
}

.navbar .search-container {
    float: left;
    padding-left: 100px;
}

.navbar .search-container select {
    height: 30px;
    padding: 0px 10px;
}

.navbar .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #e4e4e4;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #c5c4c4;
}

.create-post-link {
    float: right;
    margin-right: 20px;
    background-color:rgb(76, 181, 212);
    border: none;
    padding: 0;
    margin-top: 2px;
}

.create-post-link:hover {
    background-color:rgb(45, 116, 138);
}

.create-post-link a:hover {
    background-color:rgb(45, 116, 138);
}

main {
    padding: 30px;
}

h1 {
    text-align: center;
}

.trending-posts {
    border-radius: 20px;
    border: 1px solid #4b4b4b;
    margin: 10px 80px;
    background-color: #9b3232;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 80px;
    margin: 10px 50px;
    overflow: hidden;
}

.form-container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form-container input[type=submit] {
    background-color: rgb(91, 217, 255);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type=submit]:hover {
    background-color: rgb(45, 116, 138);
}

.form-container p {
    margin-bottom: 3px;
}

.link-container {
    float: right;
}

.error-container {
    border-radius: 5px;
    padding: 30px 80px;
    margin: 30px 100px;
    background-color: #c76f6f;
    color: white;
}

.radio {
    padding: 8px;
}

.radio-group {
    margin-bottom: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    float: right;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ec2f00;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .form-container {
    margin: 0px;
    padding: 15px;
}

.report-button-container {
    float: right;
}

.report-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

.report-button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 20px 30px;
    padding-bottom: 30px;
  }

.post-li {
    margin: 15px 30px;
    border: 1px solid rgb(87, 86, 86); 
    padding: 30px 50px;
    background-color: #faf0f0;
}

.post-li a {
    text-decoration: none;
}

.post-container {
    border: 1px solid rgb(87, 86, 86);
    background-color: #faf0f0;
    padding: 20px 50px;
    margin: 30px 80px;
}

.comments-container {
    margin: 20px 100px;
}

#comment-form-container {
    padding: 20px 50px;
    margin: 0px 80px;
    background-color: #faf0f0;
}

.comment-container {
    border: 1px solid rgb(87, 86, 86); 
    padding: 30px 50px;
    background-color: #faf0f0;
}